<div class="row" id="confirmar-assinatura-com-senha" style="display: none;">
	<div class="col-md-12">
		<div class="grid simple horizontal red">
			<div class="grid-body">
				<div style="text-align:center;">
					<p style="text-align:center;" id="assinando-docs">Assinando <span id="qtde-docs-assinar-senha"></span> documentos. <br /><strong> Digite sua senha para continuar. </strong> </p>
						<input id="senha-assinatura" type="password" class="form-control " style="width:300px ;display:inline; margin-bottom:20px" placeholder="Digite a senha de assinatura" > <Br />
						<button class="btn btn-default btn-demo-space" id="desistir">Desistir</button>
						<button class="progress-button" data-style="fill" data-horizontal id="assinar-agora">Assinar Agora</button>
				</div>
			</div>
		</div>
	</div>
</div>