<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
  
<hibernate-configuration>
 <session-factory name="estfcorporativo-sessionfactory">
  <mapping class="br.gov.stf.estf.entidade.alerta.Alerta"/>
  <mapping class="br.gov.stf.estf.entidade.alerta.AlertaUsuario"/>
  <mapping class="br.gov.stf.estf.entidade.alerta.TipoFiltroAlerta"/>
  <mapping class="br.gov.stf.estf.entidade.alerta.ValorFiltroAlerta"/>
  <mapping class="br.gov.stf.estf.entidade.documento.Adendo"/>
  <mapping class="br.gov.stf.estf.entidade.documento.ArquivoEletronico"/>
  <mapping class="br.gov.stf.estf.entidade.documento.ArquivoEletronicoView"/>
  <mapping class="br.gov.stf.estf.entidade.documento.ArquivoProcessoEletronico"/>
  <mapping class="br.gov.stf.estf.entidade.documento.AssinaturaDigital"/>
  <mapping class="br.gov.stf.estf.entidade.documento.AssinaturaDigitalView"/>
  <mapping class="br.gov.stf.estf.entidade.documento.CabecalhoDocumento"/>
  <mapping class="br.gov.stf.estf.entidade.documento.Comunicacao"/>
  <mapping class="br.gov.stf.estf.entidade.documento.ComunicacaoIncidente"/>
  <mapping class="br.gov.stf.estf.entidade.documento.ConfiguracaoTextoSetor"/>
  <mapping class="br.gov.stf.estf.entidade.documento.ControleVista"/>
  <mapping class="br.gov.stf.estf.entidade.documento.ControleVoto"/>
  <mapping class="br.gov.stf.estf.entidade.documento.DeslocamentoComunicacao"/>
  <mapping class="br.gov.stf.estf.entidade.documento.DeslocamentoAssinaturaMinistro"/>
  <mapping class="br.gov.stf.estf.entidade.documento.DocumentoComunicacao"/>
  <mapping class="br.gov.stf.estf.entidade.documento.DocumentoEletronico"/>
  <mapping class="br.gov.stf.estf.entidade.documento.DocumentoEletronicoView"/>
  <mapping class="br.gov.stf.estf.entidade.documento.DocumentoTexto"/>
  <mapping class="br.gov.stf.estf.entidade.documento.DocumentoTextoPeticao"/>
  <mapping class="br.gov.stf.estf.entidade.documento.EspecieTexto"/>
  <mapping class="br.gov.stf.estf.entidade.documento.HistoricoPublicacaoDocumento"/>
  <mapping class="br.gov.stf.estf.entidade.documento.Lembrete"/>
  <mapping class="br.gov.stf.estf.entidade.documento.ListaTextos"/>
  <mapping class="br.gov.stf.estf.entidade.documento.ModeloComunicacao"/>
  <mapping class="br.gov.stf.estf.entidade.documento.MotivoInaptidao"/>
  <mapping class="br.gov.stf.estf.entidade.documento.MotivoInaptidaoProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.documento.NumeroComunicacao"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TextoListaTexto"/>
  <mapping class="br.gov.stf.estf.entidade.documento.PecaProcessoEletronico"/>
  <mapping class="br.gov.stf.estf.entidade.documento.PermissaoDeslocamento"/>
  <mapping class="br.gov.stf.estf.entidade.documento.PesquisaTextualOtimizada"/>
  <mapping class="br.gov.stf.estf.entidade.documento.Rotulo"/>
  <mapping class="br.gov.stf.estf.entidade.documento.RotuloObjetoIncidente"/>
  <mapping class="br.gov.stf.estf.entidade.documento.SetorTextoDiverso"/>
  <mapping class="br.gov.stf.estf.entidade.documento.Texto"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TextoAndamentoProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TextoDiverso"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TextoPeticao"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TipoArquivo"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TipoComunicacao"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TipoComunicacaoESTF"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TipoFaseComunicacao"/>
  <mapping class="br.gov.stf.estf.entidade.documento.FaseComunicacao"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TipoDocumentoTexto"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TipoSituacaoDocumento"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TipoPecaProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TipoPermissaoModeloComunicacao"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TipoRecebimentoComunicacao"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TipoSituacaoPeca"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TipoSituacaoTexto"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TipoTexto"/>
  <mapping class="br.gov.stf.estf.entidade.documento.InteiroTeorAcordao"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TagsLivresUsuario"/>
  <mapping class="br.gov.stf.estf.entidade.documento.TipoTagsLivresUsuario"/>
  <mapping class="br.gov.stf.estf.entidade.documento.PecaProcessoEletronicoComunicacao"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.AssuntoTema"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.CategoriaEnvolvido"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.Colegiado"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.Envolvido"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.EnvolvidoJulgamento"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.EnvolvidoSessao"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.EventoSessao"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.InformacaoPautaProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.JulgamentoProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.ListaJulgamento"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.ManifestacaoRepresentante"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.ManifestacaoLeitura"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.ProcessoListaJulgamento"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.PecaInformacaoPautaProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.PrevisaoImpedimentoMinistro"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.PrevisaoSustentacaoOral"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.ProcessoTema"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.Sessao"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.SituacaoJulgamento"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.SuspensaoNacionalTema"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.Tema"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.VinculoProcessoTema"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.TipoCompetenciaEnvolvido"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.TipoEvento"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.TipoOcorrencia"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.TipoSituacaoJulgamento"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.TipoTema"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.TipoVoto"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.TextoModelo"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.VotoJulgamentoProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.jurisdicionado.AssociacaoJurisdicionado"/>
  <mapping class="br.gov.stf.estf.entidade.jurisdicionado.EmprestimoAutosProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.jurisdicionado.EnderecoJurisdicionado"/>
  <mapping class="br.gov.stf.estf.entidade.jurisdicionado.IdentificacaoPessoa"/>
  <mapping class="br.gov.stf.estf.entidade.jurisdicionado.InformacaoJurisdicionado"/>
  <mapping class="br.gov.stf.estf.entidade.jurisdicionado.Jurisdicionado"/>  
  <mapping class="br.gov.stf.estf.entidade.jurisdicionado.PapelJurisdicionado"/>
  <mapping class="br.gov.stf.estf.entidade.jurisdicionado.TelefoneJurisdicionado"/>
  <mapping class="br.gov.stf.estf.entidade.jurisdicionado.TipoJurisdicionado"/>
  <mapping class="br.gov.stf.estf.entidade.jurisdicionado.TipoIdentificacao"/>
  <mapping class="br.gov.stf.estf.entidade.jurisdicionado.ObjetoIncidenteEnderecoJurisdicionado"/>
  <mapping class="br.gov.stf.estf.entidade.log.LogControleProcess"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.Advogado"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.ConfiguracaoAndamentoSetor"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.ConfiguracaoSetor"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.FluxoTipoFaseSetor"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.ItemConfiguracaoSetor"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.Origem"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.ParametroSecao"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.SecaoSetor"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.Secao"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.Setor"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.Tarefa"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.TipoFaseSetor"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.TipoStatusSetor"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.TipoConfiguracaoSetor"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.OrigemDestino"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.Destinatario"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.EnderecoDestinatario"/>
  <mapping class="br.gov.stf.estf.entidade.localizacao.ContatoDestinatario"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.AcordaoJurisprudencia"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.Despacho"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.Auditoria"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.JurisprudenciaRelevante"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.QuestaoOrdem"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.AssuntoCitacao"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.AtalhoLegislacao"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.BaseJurisprudenciaRepercussaoGeral"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.CitacaoAcordao"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.DecisaoCitada"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.IncidenteAnalise"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.IndexacaoIncidenteAnalise"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.ItemControlePublicacaoDj"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.ItemLegislacao"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.LegislacaoIncidenteAnalise"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.MinistroIndexacao"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.ObservacaoLivreJurisprudencia"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.ProcessoRtj"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.PublicacaoAcordao"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.TextoPadraoObservacaoJurisprudencia"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.TipoEscopoLegislacao"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.TipoIndexacao"/>
  <mapping class="br.gov.stf.estf.entidade.jurisprudencia.TipoLegislacao"/>
  <mapping class="br.gov.stf.estf.entidade.ministro.AfastamentoMinistroView"/>
  <mapping class="br.gov.stf.estf.entidade.ministro.Ministro"/>
  <mapping class="br.gov.stf.estf.entidade.ministro.MinistroPresidente"/>
  <mapping class="br.gov.stf.estf.entidade.ministro.Ocorrencia"/>
  <mapping class="br.gov.stf.estf.entidade.ministro.ExclusaoDistribuicao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.AcordaoAgendado"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.Agendamento"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.Agrupador"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.AgrupadorObjetoIncidente"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.Andamento"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.AndamentoProtocolo"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.AndamentoProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.AndamentoProcessoComunicacao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.AndamentoPeticao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.Assunto"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.AssuntoProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.AutorizaAndamento"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.CaracteristicaDistribuicao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.Categoria"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.Classe"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ClasseConversao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ClasseUnificada"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ComplementoParte"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ControlePrazoIntimacao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ControlarDeslocaIncidente"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.DeslocaPeticao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.DeslocaProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.DeslocaProtocolo"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.GrupoAndamento"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.Guia"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.HistoricoItemControle"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.HistoricoProcessoOrigem"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.IncidentePreferencia"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.IntegracaoOrgaoParte"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.IncidenteDistribuicao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.IncidenteJulgamento"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.IndiceAudioVideo"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ItemControle"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.LegislacaoProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ListaProcessos"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.MapeamentoClasseSetor"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.NormaProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ObjetoIncidenteListaProcessos"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.OrigemAndamentoDecisao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.Parte"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.PautaPlenario"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ParteOtimizada"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.Peticao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.PeticaoEletronica"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.PeticaoInicial"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.PrescricaoReu"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.Processo"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ProcessoDependencia"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ProcessoImagem"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ProcessoInteresse"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.Procedencia"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ProcessoIntegracao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ProcessoPlenario"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.Protocolo"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ProtocoloPublicado"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ProtocoloTaquigrafia"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ObjetoIncidente"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ObservacaoProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.Orgao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.RamoDireito"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.RecursoProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.ReferenciaPrescricao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.Regiao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.RegiaoOrgao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.RegiaoProcedencia"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.SessaoAudioEVideo"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.SituacaoMinistroProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.SubtemaPauta"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.Sumula"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.SumulaIncidente"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.TextoAssociadoProtocolo"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.TipoControle"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.TipoImpressao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.TipoIncidentePreferencia"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.TipoPreferencia"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.TipoRecurso"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.TipoSituacaoControle"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.TemaPauta"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.TipoRecursoProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.TipoJulgamento"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.TipoIncidenteJulgamento"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.TipoDevolucao"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.VinculoObjeto"/>
  <mapping class="br.gov.stf.estf.entidade.processosetor.ControleDistribuicao"/>
  <mapping class="br.gov.stf.estf.entidade.processosetor.GrupoProcessoSetor"/>
  <mapping class="br.gov.stf.estf.entidade.processosetor.HistoricoDeslocamento"/>
  <mapping class="br.gov.stf.estf.entidade.processosetor.HistoricoDeslocamentoPeticao"/>
  <mapping class="br.gov.stf.estf.entidade.processosetor.HistoricoDistribuicao"/>
  <mapping class="br.gov.stf.estf.entidade.processosetor.HistoricoFase"/>
  <mapping class="br.gov.stf.estf.entidade.processosetor.PeticaoSetor"/>
  <mapping class="br.gov.stf.estf.entidade.processosetor.Prioridade"/>
  <mapping class="br.gov.stf.estf.entidade.processosetor.ProcessoSetor"/>
  <mapping class="br.gov.stf.estf.entidade.processosetor.VWProcessoSetor"/>
  <mapping class="br.gov.stf.estf.entidade.processosetor.TarefaProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.publicacao.AtaDistribuicao"/>
  <mapping class="br.gov.stf.estf.entidade.publicacao.AtaJulgamento"/>
  <mapping class="br.gov.stf.estf.entidade.publicacao.CabecalhoMinistro"/>
  <mapping class="br.gov.stf.estf.entidade.publicacao.CabecalhoTexto"/>
  <mapping class="br.gov.stf.estf.entidade.publicacao.ConteudoPublicacao"/>
  <mapping class="br.gov.stf.estf.entidade.publicacao.EstruturaPublicacao"/>
  <mapping class="br.gov.stf.estf.entidade.publicacao.FaseDocumentoTexto"/>
  <mapping class="br.gov.stf.estf.entidade.publicacao.FaseTextoProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.publicacao.Feriado"/>
  <mapping class="br.gov.stf.estf.entidade.publicacao.ProcessoPublicado"/>
  <mapping class="br.gov.stf.estf.entidade.publicacao.Publicacao"/>
  <mapping class="br.gov.stf.estf.entidade.publicacao.SumulaPublicada"/>
  <mapping class="br.gov.stf.estf.entidade.publicacao.TipoCabecalho"/>
  <mapping class="br.gov.stf.estf.entidade.publicacao.TipoFaseTexto"/>
  <mapping class="br.gov.stf.estf.entidade.publicacao.TipoFaseTextoTipoTexto"/>
  <mapping class="br.gov.stf.estf.entidade.tarefa.AnexoTarefa"/>
  <mapping class="br.gov.stf.estf.entidade.tarefa.AtribuicaoTarefa"/>
  <mapping class="br.gov.stf.estf.entidade.tarefa.AtribuicaoTipoTarefa"/>
  <mapping class="br.gov.stf.estf.entidade.tarefa.CampoTarefaValor"/>
  <mapping class="br.gov.stf.estf.entidade.tarefa.ComplementoTarefa"/>
  <mapping class="br.gov.stf.estf.entidade.tarefa.ConfiguracaoTipoTarefaSetor"/>
  <mapping class="br.gov.stf.estf.entidade.tarefa.HistoricoAtribuicaoTarefa"/>
  <mapping class="br.gov.stf.estf.entidade.tarefa.HistoricoSituacaoTarefa"/>
  <mapping class="br.gov.stf.estf.entidade.tarefa.TarefaSetor"/>
  <mapping class="br.gov.stf.estf.entidade.tarefa.TipoAtribuicaoTarefa"/>
  <mapping class="br.gov.stf.estf.entidade.tarefa.TipoCampoTarefa"/>
  <mapping class="br.gov.stf.estf.entidade.tarefa.TipoCampoTarefaValor"/>
  <mapping class="br.gov.stf.estf.entidade.tarefa.TipoComplementoTarefa"/>
  <mapping class="br.gov.stf.estf.entidade.tarefa.TipoSituacaoTarefa"/>
  <mapping class="br.gov.stf.estf.entidade.tarefa.TipoTarefaSetor"/>
  <mapping class="br.gov.stf.estf.entidade.tesauro.Termo"/>
  <mapping class="br.gov.stf.estf.entidade.tesauro.TermoRelacao"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.AdvogadoPeticionamento"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.ConfiguracaoUsuario"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.CustomizacaoUsuario"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.NotificacaoLogon"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.GrupoUsuario"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.Perfil"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.PerfilUsuarioSetor"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.Pessoa"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.PessoaEndereco"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.TipoConfiguracaoUsuario"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.TipoCustomizacao"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.TipoGrupoControle"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.TipoGrupoUsuarioControle"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.Transacao"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.Usuario"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.UsuarioCorporativo"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.UsuarioEGab"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.UsuarioExterno"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.UsuarioIncidentePesquisa"/>  
  <mapping class="br.gov.stf.estf.entidade.usuario.IntegracaoDocumento"/>
  <mapping class="br.gov.stf.estf.entidade.configuracao.ConfiguracaoSistema"/>
  <mapping class="br.gov.stf.estf.entidade.configuracao.AlertaSistema"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.PreListaJulgamento"/>
  <mapping class="br.gov.stf.estf.entidade.processostf.PreListaJulgamentoObjetoIncidente"/>
  <mapping class="br.gov.stf.estf.entidade.judiciario.NumeroProcesso"/>
  <mapping class="br.gov.stf.estf.entidade.judiciario.TransacaoIntegracao"/>
  <mapping class="br.gov.stf.estf.entidade.julgamento.TipoListaJulgamento"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.PessoaEmail"/>
  <mapping class="br.gov.stf.estf.entidade.usuario.PessoaTelefone"/>
   <mapping class="br.gov.stf.estf.entidade.peca.PecaProcessual"/>
	<mapping class="br.gov.stf.estf.entidade.peca.TipoPecaProcessual"/>

 </session-factory>
</hibernate-configuration>
